<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>VTScheduler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ScheduleForm</servlet-name>
    <servlet-class>scheduler.ScheduleForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleForm</servlet-name>
    <url-pattern>/ScheduleForm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyForm</servlet-name>
    <servlet-class>scheduler.ModifyForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyForm</servlet-name>
    <url-pattern>/ModifyForm.do</url-pattern>
  </servlet-mapping>
</web-app>