body {
	font-family: 'Roboto', sans-serif;/*'Georgia Italic'*/;
	font-size: 150%;
}

html {
	position: relative;
	min-height: 100%;
}

.btn-group {
	padding: 0 0 0 0 !important;
}

body {
	background-color: #FFFAFA;
}

li.active a {
	color: darkslategray !important;
	background-color: #FFFAFA !important;
}

.nav-tabs > li > a:hover {
	color:  darkslategray;
	background-color: #FFFAFA; 
}

.nav-tabs > li > a {
	color:  white;
}

.header {
	font-family: 'Raleway', sans-serif;
	background-color: DarkSlateGray;
	margin-bottom:5px;
}

.outline {
	border: 1px solid lightslategray;
	border-spacing: 0px;
	color: black;
}

.border {
	outline: 1px solid lightslategray;
	outline-offset: -1px;
}

.small {
	height: 7px;
}

.fill {
	background-color: lightgrey;
}

table .time {
	text-align: center; /*right*/
	border-top: 1px solid lightslategray;
	border-right: 1px solid lightslategray;
	border-bottom: 1px solid lightslategray;
	/*vertical-align: text-top;*/
}

.text {
	text-align: center;
	padding-right: 12px;
	padding-left: 12px;
	font-size: 99%;
}

.pad {
	padding-right: 12px;
	padding-left: 12px;
}

.credits {
	border-top: 1px solid black;
}

.center {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	vertical-align:middle;
}

.hide {
	display: none;
}

.position {
	position: fixed;
}

@media print {
	.no-print, .no-print * {
		display: none !important;
	}
	
	#printerFriendly tr td {
		-webkit-print-color-adjust: exact !important;
	}
}
