body {
	font-family: 'Georgia Italic';
	font-size: 150%;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 70px;
}

li.active a {
	color: darkslategray !important;
	background-color: #eceeef !important;
}

.nav-tabs > li > a:hover {
	color:  darkslategray;
	background-color: #eceeef; 
}

.nav-tabs > li > a {
	color:  white;
}

.header {
	background-color: DarkSlateGray;
	margin-bottom:5px;
	padding:20px 0 0 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 65px;
	background-color: DarkSlateGray;
	border-top: 1px solid darkorange;
}

.outline {
	border: 1px solid lightslategray;
	border-spacing: 0px;
	color: black;
}

.border {
	outline: 1px solid lightslategray;
	outline-offset: -1px;
}

.small {
	height: 9px;
}

.fill {
	background-color: lightgrey;
}

table .time {
	text-align: center; /*right*/
	border-top: 1px solid lightslategray;
	border-right: 1px solid lightslategray;
	border-bottom: 1px solid lightslategray;
	/*vertical-align: text-top;*/
}

.text {
	text-align: center;
	padding-right: 12px;
	padding-left: 12px;
	font-size: 99%;
}

.pad {
	padding-right: 12px;
	padding-left: 12px;
}

.credits {
	border-top: 1px solid black;
}

.center {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	vertical-align:middle;
}

.hide {
	display: none;
}

.position {
	position: fixed;
}
